{% if product_data %}
  <p>Hi, {{ user.username }}!</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for product_record in product_data %}
            <tr>
                <td><a href="/product/{{ product_record.id }}">{{ product_record.name }}</a></td>
                <td>{{ product_record.price }}</td>
            </tr>
        {% endfor %}
    </table>

    <ul class="messages">
        {% for message in messages %}
            <li{% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    <a href="/checkout">Go to check out</a>

    <a href="{% url 'transaction_history' %}">Transaction History</a>

{% endif %}